{% extends 'base.html' %}
{% block title %}
    Profile
{% endblock title %}
{% block head %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Enrollment Details</h4>
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    <strong></strong> {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}

                {% comment %} Profile Code {% endcomment %}

                {% for post in posts %}
                <ul class="list-group">
                    <li class="list-group-item bg-dark text-white "><h7>Name : {{post.Fullname}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>Email : {{post.Email}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>Gender : {{post.Gender}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>PhoneNumber : {{post.PhoneNumber}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>DOB : {{post.DOB}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>SelectMembershipPlan : {{post.SelectMembershipPlan}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>SelectTrainer : {{post.SelectTrainer}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>Reference : {{post.Reference}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>Address : {{post.Address}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>Payment Status : {{post.PaymentStatus}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>Amount Paid : {{post.Price}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>Due Date : {{post.DueDate}}</h7></li>
                    <li class="list-group-item bg-dark text-white "><h7>Joining Date : {{post.TimeStamp}}</h7></li>
                  </ul>
                {% endfor %}
            </div>

            <div class="col-md-8">
                <h4>Attendance Data</h4>
                <table class="table">
                    <thead class="thead-warning">
                        <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Login</th>
                        <th scope="col">Logout</th>
                        <th scope="col">Workout</th>
                        <th scope="col">Trained By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attend in attendance %}
                        <tr>
                        <td>{{attend.Selectdate}}</td>
                        <td>{{attend.Login}}</td>
                        <td>{{attend.Logout}}</td>
                        <td>{{attend.SelectWorkout}}</td>
                        <td>{{attend.TrainedBy}}</td>                    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
{% endblock head %}